body {
  font-family: sans-serif;
}

html,
body,
#app,
.main-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.urc-header {
  background-color: #dedede;
  margin: 0;
  padding: 0;
  flex: 1;
}
