
.urc-horizontal-lines-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.urc-horizontal-line {
	width: 100%;
	border-bottom: 1px solid #dedede;
	flex-grow: 1;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

html,
body,
#root {
	height: 100%;
}

html,
body,
#root,
.urc-body{
	width: 100%;
	margin: 0;
	padding: 0;
}

.urc-body {
	flex-grow: 1;
	position: relative;
}

.urc-header {
	background-color: #dedede;
	margin: 0;
	padding: 0;
	-ms-flex-preferred-size: content;
	flex-basis: content;
}

.ultra-responsive-calendar {
	width: 100%;
	height: 100%;
	margin: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.urc-calendar-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.urc-side-labels-container {
	-ms-flex-preferred-size: content;
	flex-basis: content;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.urc-side-label {
	height: 100%;
	white-space: nowrap;
	padding: 1em 1em 1em 1.5em;
	font-size: 1.2em;
	text-align: right;
	/*! background-color: #eaeaea; */
	color: gray;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*.urc-side-label:not(:first-child) {*/
	/*border-top: 1px solid #b6b6b6;*/
/*}*/

.urc-col-container {
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	overflow: hidden;
}

.urc-column {
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	padding: 0.2rem;
	position: relative;
}

.urc-column:not(:last-child) {
	border-right: 1px solid #d8d8d8;
}

.urc-event {
	background-color: #5bccf2;
	padding: 0.6vw;
	position: absolute;
	left: 0;
	right: 0;
	min-height: 3em;
	color: white;
	border-radius: 0.6vw;
	margin: 0 0.2em;
	box-shadow: 0.2em 0.4em #dedede;
	transition: all 0.3s ease;
	cursor: pointer;
}

.urc-event:hover {
	background-color: #3bb3db;
}

.urc-event-contents {
	position: relative;
	width: 100%;
	height: 100%;
}

.urc-event-contents .urc-event-title {
	font-family: 'Montserrat', sans-serif;
	display: block;
	margin-bottom: 0.3em;
	font-weight: 600;
}

.urc-event-contents .urc-event-location {
	display: block;

}


.urc-event-contents .urc-event-options-container {
	position: absolute;
	right: 0;
	bottom: 0;
}

.urc-event-contents .urc-event-options-container > *:not(:last-child) {
	margin-right: 1em;
}

.urc-column:nth-of-type(2) .urc-event:not(:hover) .urc-event-options-container {
	display: none;
}