
.urc-horizontal-lines-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.urc-horizontal-line {
	width: 100%;
	border-bottom: 1px solid #dedede;
	flex-grow: 1;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

html,
body,
#root {
	height: 100%;
}

html,
body,
#root,
.urc-body{
	width: 100%;
	margin: 0;
	padding: 0;
}

.urc-body {
	flex-grow: 1;
	position: relative;
}

.urc-body > div {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.urc-header {
	background-color: #dedede;
	margin: 0;
	padding: 0;
	-ms-flex-preferred-size: content;
	flex-basis: content;
}

.ultra-responsive-calendar {
	width: 100%;
	height: 100%;
	margin: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.urc-calendar-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.urc-side-labels-container {
	-ms-flex-preferred-size: content;
	flex-basis: content;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.urc-side-label {
	height: 100%;
	white-space: nowrap;
	padding: 0.7em 0.7em 0.7em 1em;
	font-size: 0.8em;
	text-align: right;
	/*! background-color: #eaeaea; */
	color: gray;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.urc-month {
	display: flex;
	flex-direction: column;
}

.urc-multi-day-header {
	display: flex;
	flex-direction: row;
}

.urc-multi-day-header > span {
	flex: 1 1 auto;
	text-align: center;
	padding: 0.5em;
	color: #aaa;
	font-weight: bold;
}
.urc-month-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.urc-month-day {
	width: 14.28%;
	border: 1px solid #efefef;
	position: relative;
}

.urc-month-day-header {
	padding: 0.5em 0.7em;
	color: gray;
	user-select: none;
	-moz-user-select: none;
}
.urc-month-day.adjacent-month {
	background-color: #f0f0f0;
}

.urc-col-container {
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	overflow: hidden;
}

.urc-column {
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	padding: 0.2rem;
	position: relative;
}

.urc-column:not(:last-child) {
	border-right: 1px solid #d8d8d8;
}

.urc-event {
	background-color: #5bccf2;
	color: white;
	margin: 0 0.2em;
	transition: all 0.3s ease;
	cursor: pointer;
}

.urc-column .urc-event {
	border-radius: 0.6vw;
	padding: 0.6vw;
}

.urc-month-day .urc-event {
	border-radius: 0.2vw;
	padding: 0.6em;
}

.urc-column .urc-event {
	position: absolute;
	left: 0;
	right: 0;
	min-height: 3em;
	box-shadow: 0.2em 0.4em #dedede;
}

.urc-month-day .urc-event:not(:last-child) {
	margin-bottom: 0.1em;
}

.urc-event:hover {
	background-color: #3bb3db;
}

.urc-event-contents {
	position: relative;
	width: 100%;
	height: 100%;
}

.urc-event-contents .urc-event-title {
	font-family: 'Montserrat', sans-serif;
	display: block;
	font-weight: 600;
}

.urc-column .urc-event-title {
	margin-bottom: 0.3em;
}

.urc-event-time-location-container > * {
	display: inline-block;
	margin: 0.3em 0;
}

.urc-event-contents .urc-event-options-container {
	position: absolute;
	right: 0;
	bottom: 0;
}

.urc-event-contents .urc-event-options-container > *:not(:last-child) {
	margin-right: 1em;
}

.urc-column:nth-of-type(2) .urc-event:not(:hover) .urc-event-options-container {
	display: none;
}

.today {
	background-color: #f0f0f0;
}

.today.adjacent-month {
	background-color: #e3e3e3;
}