.urc * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.urc {
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-positive: 1;
	flex: 1;
	position: relative;
}

.urc > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.urc .horizontal-lines-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.urc .horizontal-line {
	width: 100%;
	border-bottom: 1px solid #dedede;
	flex-grow: 1;
}

.urc-calendar-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	height: 100%;
	position: relative;
}

.urc-side-labels-container {
	-ms-flex-preferred-size: content;
	flex-basis: content;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.urc-side-label {
	height: 100%;
	white-space: nowrap;
	padding: 0.7em 0.7em 0.7em 1em;
	font-size: 0.8em;
	text-align: right;
	color: gray;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 4rem;
}

.urc-month {
	display: flex;
	flex-direction: column;
}

.urc .multi-day-header {
	display: flex;
	flex-direction: row;
}

.urc .multi-day-header > span {
	flex: 1 1 auto;
	text-align: center;
	padding: 0.5em;
	color: #aaa;
	font-weight: bold;
}
.urc-month-row {
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 0;
}

.urc-month-day {
	width: 14.28%;
	border: 1px solid #efefef;
	position: relative;
	overflow-y: auto;
}

.urc .month-day-header {
	padding: 0.5em 0.7em;
	color: gray;
	user-select: none;
	-moz-user-select: none;
}
.urc-month-day.adjacent-month {
	background-color: #f0f0f0;
}

.urc-col-container {
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	overflow: hidden;
}

.urc-column {
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	padding: 0.2rem;
	position: relative;
}

.urc-column:not(:last-child) {
	border-right: 1px solid #d8d8d8;
}

.urc-event {
	background-color: #5bccf2;
	color: white;
	margin: 0 0.05em;
	transition: all 0.3s ease;
	cursor: pointer;
	position: relative;
}

.urc-column .urc-event.extends-before-viewport {
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	padding-top: 1.4em;
}

.urc-column .urc-event.extends-after-viewport {
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	padding-bottom: 1.4em;
}

.urc .urc-event {
	border-radius: 0.2vw;
	padding: 0.2em 0.4em;
}

.urc-column .urc-event {
	padding: 0.4em 0.5em;
}

.urc-column .urc-event {
	position: absolute;
	left: 0;
	right: 0;
	min-height: 3em;
	box-shadow: 0.2vh 0.3vh #dedede;
}

.urc-month-day .urc-event:not(:last-child) {
	margin-bottom: 0.1em;
}

.urc-event:hover {
	background-color: #3bb3db;
}

.urc-event .urc-event-title {
	display: block;
	font-size: 0.8em;
	font-weight: 600;
	overflow: hidden;
}

.urc-month-day .urc-event .urc-event-title {
	white-space: nowrap;
}

.urc-column .urc-event-title {
	margin-bottom: 0.3em;
}

.today {
	background-color: #f0f0f0;
}

.today.adjacent-month {
	background-color: #e3e3e3;
}